<div class="columns">
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-content">
          <% if customer.image.present? %>
            <figure class="image is-228x228" style="margin: auto;">
              <%= image_tag(customer.image, class: "is-rounded") %>
            </figure>
          <% end %>
          <p class="title is-6 has-text-centered">
            <%= customer.full_name %>
          </p>
          <p class="has-text-centered">
            Phone: <%= customer.phone_number %>
          </p>
          <p class="has-text-centered">
            Email: <%= customer.email_address %>
          </p>
          <p class="has-text-centered">
            Notes: <%= truncate(customer.notes, length: 30) %>
          </p>
        </div>
      </div>
    </div>
</div>

